{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block pageTitle %}
  Add incorporation documents to your order 
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form action="/incorporation-document" method="post" novalidate>

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "incorporation-documents",
          name: "incorporation-documents",
          fieldset: {
            legend: {
              text: "Which incorporation documents do you want to order?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: '<div class="govuk-inset-text"> Incorporation orders can include multiple documents. Each document costs £15. You will need to check the incorporation PDF in the  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">company\'s filing history (opens in new tab)</a> to see which documents are available before you order.</div>'
          },
          items: [
            {
              value: "registration-cert",
              text: "Registration certificate (Certificate of Incorporation)"
            },
            {
              value: "memorandum",
              text: "Memorandum of association"
            },
            {
              value: "articles",
              text: "Articles of association"
            },

            {
              value: "form-10",
              text: "Form 10 - Statement of officers and registered office address"
            },
            {
              value: "form-12",
              text: "Form 12 - Statement of compliance"
            },
            {
              value: "form-30",
              text: "Form 30 - Removal of limited or LTD from a company name"
            }
            ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}