{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block pageTitle %}
  Add incorporation documents to your order 
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Which incorporation documents do you want to order?</h1>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        html: 'Check the incorporation PDF in the <a href="#" target = "blank"class="govuk-link">company\'s filing history (opens in a new tab)</a> to see which documents are available before you order. You can add up to 2 documents.'
      }) }}

      <form action="/incorporation-document" method="post" novalidate>

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "inc-documents",
          name: "inc-documents",

          items: [
            {
              value: "registration-cert",
              text: "Registration certificate (Certificate of Incorporation)"
            },
            {
              value: "registration-cert",
              text: "IN01 - Application for Registration"
            },

            {
              value: "memorandum",
              text: "Memorandum of association (including IN01 - Registration certificate)"
            },
            {
              value: "articles",
              text: "Articles of association (if not available, model articles will be included)"
            }
            ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}