{% extends "layout.html" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-two-thirds">

    <h1 class="govuk-heading-xl">Documents to be certified</h1>

    <h2 class="govuk-heading-l">Garden Landscapes LTD (01234991)</h2>

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

    {{ govukInsetText({
      html: "<h3 class='govuk-heading-m' id='documentsSelectedCount'>0 Documents selected</h3>
    <ul id='documentsSelectedList' class='govuk-list govuk-list--bullet'>
    </ul>"
    }) }}
  </div>
  </div>  

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <div style="border: 10px solid white; outline: 1px solid #b1b4b6;">
    <h2 class="govuk-heading-m">Filter by category</h2>

      {{ govukCheckboxes({
        idPrefix: "filter-items",
        name: "filter-items",
        classes: "govuk-checkboxes",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "accounts",
            text: "Accounts",
            name: "accounts"
          },
          {
            value: "captial",
            text: "Capital"
          },
          {
            value: "charges",
            text: "Charges"
          },
          {
            value: "officers",
            text: "Officers"
            
          },
          {
            value: "incorporation",
            text: "Incorporation"
          },
          {
            value: "confirmation-statements-annual-return",
            text: "Confirmation statements / Annual returns"
          }
        ]
      }) }}

    </div>
  </div>


   <div class="govuk-grid-column-two-thirds">

      {{ govukTable({
        caption: "",
        head: [
          {
            text: "Select"
          },
          {
            text: "Date filed",
            classes: "no-wrap"
          },
          {
            text: "Type",
            classes: "document-type"
          },
          {
            text: "Description"
          }
        ],
        rows: [
          [
            {
              html: ' <div class="govuk-checkboxes govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" name="rowCheckBox" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label">&nbsp</label></div></div>'
            },
            {
              text: "4 Dec 2017",
              classes: "no-wrap"
            },
            {
            html: "TM02",
            classes: "document-type"
            },
            
            {
              text:"Termination of appointment of Secretary Ltd as a secretary on 4 December 2017."
            }
          ],
           [
            {
              html: ' <div class="govuk-checkboxes govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" name="rowCheckBox" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label">&nbsp</label></div></div>'
            },
            {
              html: "29 Aug 1977",
              classes: "no-wrap"
            },

            {
              html: "TM02",
              classes: "document-type"
            },
            
            {
              html:'<div name="description">Directors details changed for Eduardo Sanchez on 14 August 1997.</div>'
            }
          ],
           [ 
            {
              html: ' <div class="govuk-checkboxes govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" name="rowCheckBox" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label">&nbsp</label></div></div>'
            },
            {
              html: "4 Dec 2017",
              classes: "no-wrap"
            },
            {
              html: "TM01",
              classes: "document-type"
            },
            
            {
              html:"Termination of appointment of Secretary Ltd as a secretary on 4 December 2017."
            }
          ],
          [ 
            {
              html: ' <div class="govuk-checkboxes govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" name="rowCheckBox" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label">&nbsp</label></div></div>'
            },
            {
              html: "4 Dec 2017",
              classes: "no-wrap"
            },
            {
              html: "TM01",
              classes: "document-type"
            },
            
            {
              html:"Termination of appointment of Secretary Ltd as a secretary on 4 December 2017."
            }
          ],
          [ 
            {
              html: ' <div class="govuk-checkboxes govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" name="rowCheckBox" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label">&nbsp</label></div></div>'
            },
            {
              html: "4 Dec 2017",
              classes: "no-wrap"
            },
            {
              html: "TM01",
              classes: "document-type"
            },
            
            {
              html:"Termination of appointment of Secretary Ltd as a secretary on 4 December 2017."
            }
          ],
          [ 
            {
              html: ' <div class="govuk-checkboxes govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" name="rowCheckBox" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label">&nbsp</label></div></div>'
            },
            {
              html: "4 Dec 2017",
              classes: "no-wrap"
            },
            {
              html: "TM01",
              classes: "document-type"
            },
            
            {
              html:"Termination of appointment of Secretary Ltd as a secretary on 4 December 2017."
            }
          ],
          [ 
            {
              html: ' <div class="govuk-checkboxes govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" name="rowCheckBox" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label">&nbsp</label></div></div>'
            },
            {
              html: "4 Dec 2017",
              classes: "no-wrap"
            },
            {
              html: "TM01",
              classes: "document-type"
            },
            
            {
              html:"Termination of appointment of Secretary Ltd as a secretary on 4 December 2017."
            }
          ],
          [ 
            {
              html: ' <div class="govuk-checkboxes govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" name="rowCheckBox" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label">&nbsp</label></div></div>'
            },
            {
              html: "4 Dec 2017",
              classes: "no-wrap"
            },
            {
              html: "TM01",
              classes: "document-type"
            },
            
            {
              html:"Termination of appointment of Secretary Ltd as a secretary on 4 December 2017."
            }
          ]
        ]
      }) }}

      <h3 class='govuk-heading-m' id='documentsSelectedCount'>0 Documents selected</h3>
        
        {{ govukButton({
          text: "Continue",
          href:"delivery-address-name"
        }) }}
      </div>
</div>







{% endblock %}