{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block pageTitle %}
  Add incorporation documents to your order 
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/incorporation-document" method="post" novalidate>

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "waste",
          name: "waste",
          fieldset: {
            legend: {
              text: "Which incorporation documents would you like to order?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Check the companies filing history to make sure the documents exist. You can select up to two documents."
          },
          items: [
            {
              value: "registration-cert",
              text: "Registration certificate (IN01)",
              hint: {
                text: "for a private, public limited or unlimited company"
              }
            },
            {
              value: "LL-IN01",
              text: "Registration certificate (LL IN01)",
              hint: {
                text: "for a Limited Liability Partnership"
              }
            },
            {
              value: "memorandum",
              text: "Memorandum of Association"
            },
            {
              value: "articles",
              text: "Articles of Association"
            },
          
            {
              value: "form-10",
              text: "Statement of officers (Form 10)"
            },
            {
              value: "form-12",
              text: "Statement of compliance (Form 12)"
            },
            {
              value: "form-30",
              text: "Removal of limited or LTD from a company name (Form 30)"
            }
            ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}