{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
        <span class="govuk-caption-xl">phoebe index attempt</span>
      </h1>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h4 class="govuk-tabs__title">
          Contents
        </h4>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#screens">
              Screens
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#code">
              Entry points and links
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#form-versions">
              Previous versions
            </a>
          </li>
        </ul>
<!-- working up until this point, can't seem to get content within tabs to show -->
<!-- can see this content when looking at 'inspect' but not on normal page vieww -->

        <div class="govuk-tabs__panel" id="screens">
          <h3 class="govuk-heading-m">Core journey</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/sign-in">Sign in</a>
            </li>
            <li>
              <a href="/forgot-password">Forgot password</a>
            </li>
          </ul>
        </div>
        <div class="govuk-tabs__panel" id="code">
          <h3 class="govuk-heading-m">Entry points</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="start?journey=gov">GOV.UK start page</a>
            </li>
  </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
