{% extends "layout.html" %}

{% block pageTitle %}
  Shortcuts
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Order a certficate
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Find a company
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/#view-all" aria-describedby="more-tab-completed">
                  More tab on company profile
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="more-tab-completed">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Order a certified document - Start now
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/order-certified-document" aria-describedby="start-now-completed">
                  Order a certified document MVP
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="start-now-completed">Completed</strong>
            </li>
          </ul>
        </li>

       <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Sign in to Companies House
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/CHS-signin" aria-describedby="login-completed">
                  Sign in to Companies House
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="login-completed">Follow exisiting services</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Add documents to order
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/filter-document-list" aria-describedby="add-documents-to-order-completed">
                  Add documents to order
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">7. </span>Delivery
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/delivery-address-name" aria-describedby="delivery-address-completed">
                  What are the delivery details?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
          </ul>
        </li>
        
        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">8. </span> Check your order details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/check-details-certified-documents" aria-describedby="check-order-details-completed">
                  Check your order details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">9. </span> Payment
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" aria-describedby="pay-completed">
                  GOV.UK Pay
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">GOV pay screens</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" aria-describedby="pay-completed">
                  GOV.UK Pay confirmation
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">GOV pay screens</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">10. </span> Confirmation
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation-certified-documents" aria-describedby="confirmation-completed">
                  Confirmation
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">11. </span> Error pages
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-pages/start-order-again" aria-describedby="pasted-url-completed">
                  User has not entered service from Companies House Search
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">In progress</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-pages/payment-cancelled" aria-describedby="medical-information-completed">
                  User cancels payment which is in-progress
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Complete</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-pages/payment-declined" aria-describedby="payment-declined-completed">
                  Payment declined
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Complete</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-pages/service-not-available" aria-describedby="medical-information-completed">
                  Sorry, there is a problem with this service.
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Complete</strong>
            </li>
          </ul>
        </li>

        




      </ol>

    </div>
  </div>

{% endblock %}